<div class="background">


    <h1 class="headline d-flex justify-content-center mt-4">Online Portal SmartSoft</h1>


    <div class="content-wrapper">
        <p class="mt-5 card p-4 shadow-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. A minus deserunt ipsa officia
            eos
            qui rerum
            voluptas. Optio necessitatibus assumenda deserunt aliquam? Nobis mollitia, quod itaque repudiandae beatae
            obcaecati
            doloribus!
            Animi, rem? Maiores voluptatum velit quae ullam quaerat autem totam error ea blanditiis fuga similique
            eveniet,
            voluptate distinctio recusandae, animi quo voluptates! Fugit officiis inventore, a vitae accusantium
            laudantium
            sequi.

            Expedita voluptatem placeat ad dicta harum quasi, sit maxime odio quibusdam ab voluptatibus dignissimos.
            Natus
            minima eum consequuntur, corporis neque, repudiandae sed similique consequatur dolorum molestiae voluptate
            velit.
            Veritatis, veniam.

            Explicabo, totam reiciendis vero, delectus tenetur blanditiis aspernatur dolor doloribus ex, distinctio
            neque
            corrupti! Eius provident delectus tempore quae ratione, qui distinctio dolor illum earum, quam dolorem
            aperiam
            laboriosam fugiat!
            Facilis ipsum repellat sed. Cupiditate est quae perferendis doloremque voluptate aspernatur, qui alias
            suscipit
            deserunt error, minima nisi modi eos labore. Ipsam quaerat exercitationem minima dolores assumenda aut
            deleniti
            dolor.

            Deleniti illum itaque maiores atque excepturi ad expedita corrupti non sequi cumque, quod ducimus possimus
            provident
            voluptatem, quas blanditiis, aut molestias cupiditate totam delectus? Accusamus ratione rem quod iure
            laboriosam.
            Ipsa corporis saepe, necessitatibus expedita quam nisi nam id maiores. Assumenda accusantium perferendis
            laboriosam
            unde enim ratione quidem amet fugiat reiciendis hic. Recusandae praesentium, tenetur ducimus ratione
            voluptatem
            sit
            aspernatur?
        </p>

        <div class="d-flex mt-5 justify-content-between">
            <div class="card small-box shadow-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam perferendis,
                reprehenderit
                nesciunt
                iure in
                veritatis ratione alias hic ex? Sed atque earum reiciendis iste fuga totam doloremque magnam id cum.
                Lorem
                ipsum
                dolor sit amet consectetur adipisicing elit. Laboriosam perferendis, reprehenderit nesciunt iure in
                veritatis ratione alias hic ex? Sed atque earum reiciendis iste fuga totam doloremque magnam id cum.
            </div>
            <div class="card small-box shadow-lg"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
                perferendis,
                reprehenderit nesciunt
                iure in
                veritatis ratione alias hic ex? Sed atque earum reiciendis iste fuga totam doloremque magnam id cum.
                Lorem
                ipsum
                dolor sit amet consectetur adipisicing elit. Laboriosam perferendis, reprehenderit nesciunt iure in
                veritatis ratione alias hic ex? Sed atque earum reiciendis iste fuga totam doloremque magnam id cum.
            </div>
        </div>
    </div>

</div>